## Unit level model: empirical Bayes (EB) Method

For complex (non-linear) parameters of interest or for non-normally distributed random errors, the EBLUP is not the best predictor and the MSE second-order approximation does not hold. Instead, we will use the Empirical Bayes (EB) method which fits the linear mixed model to the data and use a Monte Carlo (MC) approach to predict the area level complex parameters and their MSE estimates. Thsi approach is implemented by the *EBUnitLevel* class. 

To illustrate the EB method, we will simulate a data following the specification of Molina and Rao (2010). In their paper, they simulated data to analyze the performance of the EB method to estimate area poverty incidences and poverty gaps.

### Simulated census data

The simulated census data is composed of $N=20,000$ observations from $m=80$ areas with $N_i = 250$ units in each area $i = 1, ..., m,$ with $k_{ij} = 1$. The population are generated using the linear mixed model with random area effects variance $\sigma_u^2 = 0.15^20$ and unit level errors variance $\sigma_e^2 = 0.5^2$. We consider two binary auxiliary variables simulated with $p_{1i} = 0.3+0.5*i/m$ and $p_{2i} = 0.2,$ with $i = 1, ..., m$. The output variable is income. Income is a skewed distribution and to simulated the skewness, we apply an exponential transformation to Y obtained from the linear mixed model discribed above.

In [1]:
#!pip install samplics
%load_ext lab_black
import numpy as np
import pandas as pd

import samplics
from samplics.sampling import Sample
from samplics.sae import EbUnitModel

In [2]:
np.random.seed(123)

# model parameters
scale = 1
sigma2e = 0.5 ** 2
sigma2u = 0.15 ** 2

# Population sizes
N = 20000
nb_areas = 80

# Errors generation
error = np.random.normal(loc=0, scale=(scale ** 2) * (sigma2e ** 0.5), size=N)
area = np.sort(np.random.choice(range(1, nb_areas + 1), N))
areas, Nd = np.unique(area, return_counts=True)
random_effects = np.random.normal(loc=0, scale=sigma2u ** (1 / 2), size=nb_areas)
total_error = np.repeat(random_effects, Nd) + error

# Auxiliary information
p1 = 0.3 + 0.5 * np.linspace(1, nb_areas + 1, nb_areas) / nb_areas
p2 = 0.2
X1 = np.array([]).astype(int)
for i, d in enumerate(areas):
    Xk = np.random.binomial(1, p=p1[i], size=Nd[i])
    X1 = np.append(X1, Xk)
X2 = np.random.binomial(1, p=p2, size=N)
X = np.column_stack((np.ones(N), X1, X2))

beta = np.array([3, 0.03, -0.04])
Y = np.matmul(X, beta) + total_error
income = np.exp(Y)

# Create a dataframe for the population data
census_data = pd.DataFrame(data={"area": area, "X1": X1, "X2": X2, "income": income})

nb_obs = 15
print(f"\nFirst {nb_obs} rows of the population data\n")
census_data.head(nb_obs)

First 15 rows of the population data

    area  X1  X2     income
0      1   1   0  10.910632
1      1   0   0  30.000852
2      1   0   0  20.989920
3      1   0   0   8.579758
4      1   0   1  13.108396
5      1   0   0  41.607121
6      1   0   1   5.202886
7      1   0   0  14.703665
8      1   1   0  35.357877
9      1   0   0  11.812790
10     1   1   0  13.371292
11     1   1   0  17.907123
12     1   1   1  38.025154
13     1   0   0  13.238140
14     1   0   0  14.593294

Now we re going to select a sample of 50 units in each area. To select the sample, we will use the *Sample* class from *samplics*.

In [3]:
sample_size = 50
stratum = census_data["area"]
unit_id = census_data.index

sae_sample = Sample(method="srs", stratification=True, with_replacement=False)
sample, _, _ = sae_sample.select(unit_id, sample_size, stratum)
sample_data = census_data[sample == 1]

nb_obs = 15
print(f"\nFirst {nb_obs} rows of the sample data\n")
sample_data.head(nb_obs)

First 15 rows of the sample data

    area  X1  X2     income
0      1   1   0  10.910632
6      1   0   1   5.202886
11     1   1   0  17.907123
13     1   0   0  13.238140
18     1   0   0  30.101651
19     1   0   1  21.234904
24     1   1   0  10.030322
36     1   1   0  18.802240
43     1   0   0  24.275218
45     1   0   0  18.113143
47     1   0   0  22.398839
53     1   0   0  12.225473
59     1   1   0  32.048469
64     1   0   1  35.559331
71     1   0   0  12.024853

Now that we have simulated a population(census) and selected a sample from it, we are ready to illustrate the steps of the EB method. In summary, we need the sample data with the output variable, the auxiliary variables, and the area variable. And we also need the non-sampled values of the auxiliary variables. In practice, it may challenging to get the out-of-sample auxiliary variables and even more difficult to link the sample to the census in order to partition it into sample vs out-of-sample.

In [4]:
# Sample data
areas = sample_data["area"]
income = sample_data["income"]
Xs = sample_data[["X1", "X2"]]

# Out of sample data
outofsample_data = census_data[sample != 1]
arear = outofsample_data["area"]
Xr = outofsample_data[["X1", "X2"]]

### Fitting the linear mixed model

In [5]:
eb_poverty_reml = EbUnitModel(method="REML", boxcox=0)
eb_poverty_reml.fit(income, Xs, areas, intercept=True)

print(f"\nThe estimated fixed effect using REML: {eb_poverty_reml.fixed_effects}")
print(
    f"\nStandard error of estimated area random effect using REML: {eb_poverty_reml.re_std}"
)
print(
    f"\nStandard error of estimated area random effect using REML: {eb_poverty_reml.error_std}"
)

The estimated fixed effect using REML: [ 2.97923793  0.03629499 -0.02642623]

Standard error of estimated area random effect using REML: 0.15227754550016784

Standard error of estimated area random effect using REML: 0.4972377422416066

In [6]:
eb_poverty_ml = EbUnitModel(method="ML", boxcox=0)
eb_poverty_ml.fit(income, Xs, areas, intercept=True)

print(f"\nThe ML estimated fixed effect using ML is: {eb_poverty_ml.fixed_effects}")
print(
    f"\nStandard error of estimated area random effect using ML: {eb_poverty_ml.re_std}"
)
print(
    f"\nStandard error of estimated area random effect using ML: {eb_poverty_ml.error_std}"
)

The ML estimated fixed effect using ML is: [ 2.97921929  0.03631835 -0.02639921]

Standard error of estimated area random effect using ML: 0.15109887793783536

Standard error of estimated area random effect using ML: 0.4971123962940577

### Prediction of area level poverty indicators

In [7]:
def poverty_gap(y, poverty_line=12):
    return np.mean((y < poverty_line) * (poverty_line - y) / poverty_line)

In [8]:
np.random.seed(12345)
eb_poverty_reml.predict(Xr, arear, poverty_gap, 2000, poverty_line=12)

import pprint

print("\nREML estimated area level poverty gap using REML\n")
pprint.pprint(eb_poverty_reml.area_est)

Generating the 2000 replicates samples
[===================================================] 102%


REML estimated area level poverty gap using REML

{1: 0.034020340478712024,
 2: 0.029277622682888128,
 3: 0.05399403112948887,
 4: 0.09739607642195318,
 5: 0.008431651447707116,
 6: 0.02509877308725583,
 7: 0.08442179782734652,
 8: 0.016926382172357653,
 9: 0.04301637150893203,
 10: 0.042556512054445855,
 11: 0.04263657571237882,
 12: 0.1000170805823284,
 13: 0.011991129190441869,
 14: 0.021246647595993134,
 15: 0.04229285603983349,
 16: 0.04078574257870877,
 17: 0.021570887608060908,
 18: 0.0348322166195059,
 19: 0.04211760264767365,
 20: 0.03801368931718034,
 21: 0.042801843110770114,
 22: 0.02770569322761158,
 23: 0.013656874926628655,
 24: 0.054700762646174565,
 25: 0.044618278491696035,
 26: 0.016788387328436172,
 27: 0.045176391546373255,
 28: 0.021896340295352906,
 29: 0.03852769465708063,
 30: 0.05397042804976792,
 31: 0.03244914687067904,
 32: 0.027582983733840882,
 33: 0.03856245009647716,
 34: 0.02885947790936877,
 35: 0.04202557149547948,
 36: 0.03172890998328069,
 37: 0.034762865498869915,
 38: 0.0354643107254378,
 39: 0.029904002528382295,
 40: 0.018831132100610912,
 41: 0.07705711935725883,
 42: 0.0285563468241492,
 43: 0.02551755343505029,
 44: 0.047505688035658716,
 45: 0.038516496015663405,
 46: 0.04236536193262833,
 47: 0.019879555820833537,
 48: 0.017703417292156506,
 49: 0.017094375848229697,
 50: 0.07324973191237324,
 51: 0.0307177740868423,
 52: 0.021435373064309687,
 53: 0.04539770988756722,
 54: 0.02327467412073191,
 55: 0.04324758810204844,
 56: 0.0241072898787342,
 57: 0.027153904346522043,
 58: 0.017529239278761162,
 59: 0.010316798968966262,
 60: 0.014396098197833378,
 61: 0.054036616314149695,
 62: 0.024657730437779336,
 63: 0.03336883396722787,
 64: 0.029169823676814702,
 65: 0.06548541186834905,
 66: 0.01199697074013286,
 67: 0.028187105687310886,
 68: 0.028417828965461207,
 69: 0.04130761512887349,
 70: 0.015564319439019786,
 71: 0.030543309755876605,
 72: 0.035949701134565235,
 73: 0.05911615531309697,
 74: 0.023607484305061356,
 75: 0.019430635913495656,
 76: 0.01259275745217218,
 77: 0.04509189084533791,
 78: 0.028544192688175905,
 79: 0.0483451943539883,
 80: 0.11146639204167207}

In [ ]:
eb_poverty_reml.bootstrap_mse(Xr, arear, poverty_gap, 50, poverty_line=12)

import pprint

print("\nREML area level overty gap estimates and their MSE estimates using REML\n")
pprint.pprint(eb_poverty_reml.to_dataframe())

In [ ]:
pprint.pprint(eb_poverty_reml.area_mse_boot)